@import '../scss/mixins';

.Header {
    background-color: #222222;
    color: white;
    padding: 2rem 2rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @media (max-width: 767px) {
        padding: 1rem;
    }
    &__title {
        font-size: 2.5rem;
        @media (max-width: 767px) {
            font-size: 1.5rem;
        }
    }
    &__content {
        @include max-width(1250);
        text-align: center;
    }
}