.SearchResults {
    padding-top: calc(174px + 1rem);
    @media (max-width: 767px) {
        padding-top: calc(100px + 1rem);
    }
    &__images {
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
        @media (min-width: 1500px) {
            max-width: 1400px;
        }
        @media (min-width: 1900px) {
            max-width: 1800px;
        }
    }
}

.SearchResult {
    width: 33%;
    padding: .5rem;
    cursor: pointer;
    text-align: center;
    img {
        max-width: 100%;
        min-height: 250px;
        background-color: #ddd;
        // See if this distorts the images in any way
    }
    @media (max-width: 1023px) {
        width: 50%;
    }
    @media (max-width: 477px) {
        width: 100%;
    }
    @media (min-width: 1500px) {
        width: 25%;
    }
    @media (min-width: 1900px) {
        width: 20%;
    }
}

.Modal__body {
    img {
        max-width: 100%;
    }
}

.Modal__imageTitle {
    padding-top: .5rem;
}

.BeginSearch,
.EmptySearch {
    color: gray;
    font-size: 20px;
    padding-top: calc(174px + 2rem);
    @media (max-width: 767px) {
        padding-top: calc(100px + 2rem);
    }
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 1.5;
}