.SearchResults {
    padding-top: calc(174px + 1rem);
    &__images {
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
    }
}

.SearchResult {
    width: 33%;
    padding: .5rem;
    cursor: pointer;
    img {
        max-width: 100%;
    }
}

.Modal__body {
    img {
        max-width: 100%;
    }
}

.Modal__imageTitle {
    padding-top: .5rem;
}